.containerRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.search input {
  background: #6588DE;
  border-radius: 14px;
  height: 3rem;
  font-size: 2rem;
  border: 0;
  width: 100%;
  color: white;
  padding-left: 1rem;
  outline: none;
  margin-bottom: 2rem;
}

.roomsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.room {
  width: 30%;
  height: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}

.curl {
	width:120px;
	height:120px;
	position: absolute;
	top:0;
	left:0;
	background :
		linear-gradient(
			135deg,
			#fff,
			#f3f3f3 45%,
			#ddd 50%,
			#aaa 50%,
			#bbb 56%,
			#ccc 62%,
			#f3f3f3 80%,
			#fff 100%
		);
	box-shadow : 0 0 10px rgba(0, 0, 0, .5);
	transition: all .5s ease;
}
.curl:before,
.curl:after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 12.5%;
	bottom: 5.8%;
	width: 70%;
	max-width: 300px;
	max-height: 100px;
	height: 55%;
	box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
	transform: skew(-10deg) rotate(-6deg);
}
.curl:after {
	left: auto;
	right: 5.8%;
	bottom: auto;
	top: 14.16%;
	transform: skew(-15deg) rotate(-84deg);
}

.curl:hover {
	width: 240px;
	height: 240px;
}
.curl:hover:before,
.curl:hover:after {
	box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}

.curl div{
  transform: rotate(-45deg);
  margin-top: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}
