.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInContainer h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #000000;
  margin-bottom: 16px;
  margin-top: 0;
}

.signInContainer h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
  color: #000000;
  margin-bottom: 16px;
  margin-top: 0;
}

.regContainer h1{
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #000000;
  margin-bottom: 16px;
  margin-top: 0;
}

.regContainer .inputs {
  display: flex;
  flex-wrap: wrap;
}

.regContainer .inputs .inputRow {
  width: 40%;
  margin: 1rem;
}

.emoji{
  font-size: 5rem;
}

.inputRow {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;

  color: #000000;
}

.inputRow input {
  background: #6588DE;
  border-radius: 14px;
  height: 3rem;
  font-size: 2rem;
  border: 0;
  width: 100%;
  color: white;
  padding-left: 1rem;
  outline: none;
}

.loginButton{
  border-radius: 14px;
  border: 0;
  background: #6588DE;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  font-size: 1.5rem;
  outline: none;
  margin-top: 0.5rem;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

}

.loginButton:active{
  transform: scale(1.05);
}

.noRegister {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-decoration: none;
}

.noRegister:hover{
  color: black;
}


.curl {
	width:120px;
	height:120px;
	position: absolute;
	top:0;
	left:0;
	background :
		linear-gradient(
			135deg,
			#fff,
			#f3f3f3 45%,
			#ddd 50%,
			#aaa 50%,
			#bbb 56%,
			#ccc 62%,
			#f3f3f3 80%,
			#fff 100%
		);
	box-shadow : 0 0 10px rgba(0, 0, 0, .5);
	transition: all .5s ease;
}
.curl:before,
.curl:after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 12.5%;
	bottom: 5.8%;
	width: 70%;
	max-width: 300px;
	max-height: 100px;
	height: 55%;
	box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
	transform: skew(-10deg) rotate(-6deg);
}
.curl:after {
	left: auto;
	right: 5.8%;
	bottom: auto;
	top: 14.16%;
	transform: skew(-15deg) rotate(-84deg);
}

.curl:hover {
	width: 240px;
	height: 240px;
}
.curl:hover:before,
.curl:hover:after {
	box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}

.curl div{
  transform: rotate(-45deg);
  margin-top: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}
